# Tech Jam 2019

##### Jakkrit sonsanit , Wacharit sirigate
***

In [380]:
import pandas as pd
import numpy as np
import random 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [381]:
random.seed(1238471)

In [382]:
demo = pd.read_csv('data_pack/demographics.csv')
demo.head(10)

   id  cc_no  gender  ocp_cd  age
0   1      1       2     9.0    5
1   1  98397       2     9.0    5
2   2      2       2     3.0    4
3   2   9740       2     3.0    4
4   3      3       2     1.0    3
5   4      4       2     3.0    5
6   4  86813       2     3.0    5
7   5      5       2     9.0    4
8   6      6       1     3.0    3
9   6  91379       1     3.0    3

In [383]:
demo.isna().sum()

id         0
cc_no      0
gender     0
ocp_cd    26
age        0
dtype: int64

In [384]:
demo = demo.fillna(value={'ocp_cd':random.choice([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0])})

In [385]:
demo = demo.drop(columns=['cc_no'])

In [386]:
demo = demo.groupby('id').mean()

In [387]:
demo_train = demo.loc[1:50000]
demo_train = demo_train.reset_index(drop=True)

In [388]:
demo_train.isna().sum()

gender    0
ocp_cd    0
age       0
dtype: int64

In [389]:
train = pd.read_csv('data_pack/train.csv')

In [390]:
reg = LinearRegression().fit(demo_train, train.income)
reg.score(demo_train, train.income)

0.07222545825476423

In [391]:
demo_test = demo.loc[50001:]

In [392]:
reg.predict(demo_test)

array([38426.71399781, 51668.05171849, 61384.4529701 , ...,
       38426.71399781, 35638.47445201, 39163.41092107])

In [393]:
test = pd.read_csv('data_pack/test.csv')
test.head()

      id
0  50001
1  50002
2  50003
3  50004
4  50005

In [394]:
test['income'] = reg.predict(demo_test)

In [396]:
test.tail()

          id        income
14995  64996  22397.136731
14996  64997  22397.136731
14997  64998  38426.713998
14998  64999  35638.474452
14999  65000  39163.410921

In [332]:
# test.to_csv('test_v1.csv', index=False)