In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('data_pack/complete_data.csv')
df.head()

,gender,age,cc_week_1,cc_week_2,cc_week_3,cc_week_4,cc_week_5,cc_week_6,cc_week_7,cc_week_8,...,ocp_3,ocp_4,ocp_5,ocp_6,ocp_7,ocp_8,ocp_9,ocp_11,ocp_12,ocp_13
0,2,5,0.0,0.0,4700.0,0.0,0.0,0.0,20000.0,0.0,...,0,0,0,0,0,0,1,0,0,0
1,2,4,1600.0,0.0,0.0,3500.0,2600.0,800.0,0.0,3800.0,...,1,0,0,0,0,0,0,0,0,0
2,2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,2,4,0.0,0.0,5000.0,2000.0,0.0,5000.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0

In [11]:
# ls_n = ['gender', 'age', 'ocp_1','ocp_2','ocp_3','ocp_4','ocp_5','ocp_6','ocp_7','ocp_8','ocp_9','ocp_11','ocp_12','ocp_13']
# ls_col = list(df.columns)
# ls_col = [i for i in ls_col if i not in ls_n]

In [12]:
# mu, sigma = 0.5, 0.1
# s = np.random.normal(mu, sigma, 1000)

# # Create the bins and histogram
# count, bins, ignored = plt.hist(s, 20, normed=True)

# # Plot the distribution curve
# plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) *
#     np.exp( - (bins - mu)**2 / (2 * sigma**2) ),       linewidth=3, color='y')
# plt.show()

In [13]:
test = pd.read_csv('data_pack/test.csv')
test.head()

      id
0  50001
1  50002
2  50003
3  50004
4  50005

In [14]:
train = pd.read_csv('data_pack/train.csv')
train.head()

   id  income
0   1   20000
1   2  106000
2   3   29000
3   4   61000
4   5   18000

In [20]:
df_f = df[0:50000]
len(df_f)

50000

In [21]:
X_train, X_test, y_train, y_test = train_test_split(df_f, train.income, test_size=0.2)

In [120]:
# read in data
dtrain = xgb.DMatrix(X_train, y_train)
dtest = xgb.DMatrix(X_test)
# specify parameters via map
param = {'max_depth':6, 'eta':0.3, 'objective':'reg:squarederror'}
num_round = 20
bst = xgb.train(param, dtrain, num_round)
# make prediction
preds = bst.predict(dtest)

In [121]:
len(preds)

10000

In [122]:
# lower, upper = 0.1, 0.5
# preds = [lower + (upper - lower) * i for i in preds]

In [123]:
y_test = list(y_test)

In [124]:
sm = 0
for i in range(10000):
    sm += (abs(preds[i] - y_test[i])**2) / ((min(2*abs(y_test[i]), abs(preds[i])) + abs(y_test[i])) ** 2)

In [125]:
score = 100 - 100/10000*sm

In [126]:
score

84.03952467715595

In [134]:
dtest = xgb.DMatrix(df[50000:])
preds = bst.predict(dtest)

In [135]:
test['income'] = preds

In [139]:
test.to_csv('xg_v1.csv', index=False)