In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [14]:
df = pd.read_csv('../data_pack/new_complete_data.csv')
df.head()

,gender,cc_week_1,cc_week_2,cc_week_3,cc_week_4,cc_week_5,cc_week_6,cc_week_7,cc_week_8,cc_week_9,...,ocp_8,ocp_9,ocp_11,ocp_12,ocp_13,age_2,age_3,age_4,age_5,age_6
0,2,0.0,0.0,4700.0,0.0,0.0,0.0,20000.0,0.0,0.0,...,0,1,0,0,0,0,0,0,1,0
1,2,1600.0,0.0,0.0,3500.0,2600.0,800.0,0.0,3800.0,1200.0,...,0,0,0,0,0,0,0,1,0,0
2,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0
3,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,1,0
4,2,0.0,0.0,5000.0,2000.0,0.0,5000.0,0.0,0.0,0.0,...,0,1,0,0,0,0,0,1,0,0

In [15]:
new_gender = pd.get_dummies(df.gender, prefix='gender')

In [16]:
df = pd.concat([df, new_gender], axis=1)

In [18]:
df.drop('gender', axis=1, inplace=True)

In [20]:
len(df.columns)

70

In [23]:
df.columns

Index(['cc_week_1', 'cc_week_2', 'cc_week_3', 'cc_week_4', 'cc_week_5',
       'cc_week_6', 'cc_week_7', 'cc_week_8', 'cc_week_9', 'cc_week_10',
       'cc_week_11', 'cc_week_12', 'cc_week_13', 'cc_week_14', 'cc_week_15',
       'cc_week_16', 'cc_week_17', 'cc_week_18', 'cc_week_19', 'cc_week_20',
       'cc_week_21', 'cc_week_22', 'cc_week_23', 'cc_week_24', 'cc_week_25',
       'cc_week_26', 'kp_week_1', 'kp_week_2', 'kp_week_3', 'kp_week_4',
       'kp_week_5', 'kp_week_6', 'kp_week_7', 'kp_week_8', 'kp_week_9',
       'kp_week_10', 'kp_week_11', 'kp_week_12', 'kp_week_13', 'kp_week_14',
       'kp_week_15', 'kp_week_16', 'kp_week_17', 'kp_week_18', 'kp_week_19',
       'kp_week_20', 'kp_week_21', 'kp_week_22', 'kp_week_23', 'kp_week_24',
       'kp_week_25', 'ocp_1', 'ocp_2', 'ocp_3', 'ocp_4', 'ocp_5', 'ocp_6',
       'ocp_7', 'ocp_8', 'ocp_9', 'ocp_11', 'ocp_12', 'ocp_13', 'age_2',
       'age_3', 'age_4', 'age_5', 'age_6', 'gender_1', 'gender_2'],
      dtype='object')

In [24]:
# ls_n = ['gender', 'age', 'ocp_1','ocp_2','ocp_3','ocp_4','ocp_5','ocp_6','ocp_7','ocp_8','ocp_9','ocp_11','ocp_12','ocp_13']
# ls_col = list(df.columns)
# ls_col = [i for i in ls_col if i not in ls_n]

In [25]:
# mu, sigma = 0.5, 0.1
# s = np.random.normal(mu, sigma, 1000)

# # Create the bins and histogram
# count, bins, ignored = plt.hist(s, 20, normed=True)

# # Plot the distribution curve
# plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) *
#     np.exp( - (bins - mu)**2 / (2 * sigma**2) ),       linewidth=3, color='y')
# plt.show()

In [26]:
test = pd.read_csv('../data_pack/test.csv')
test.head()

      id
0  50001
1  50002
2  50003
3  50004
4  50005

In [27]:
train = pd.read_csv('../data_pack/train.csv')
train.head()

   id  income
0   1   20000
1   2  106000
2   3   29000
3   4   61000
4   5   18000

In [28]:
df_f = df[0:50000]
len(df_f)

50000

In [29]:
X_train, X_test, y_train, y_test = train_test_split(df_f, train.income, test_size=0.2)

In [139]:
# read in data
dtrain = xgb.DMatrix(X_train, y_train)
dtest = xgb.DMatrix(X_test)
# specify parameters via map
# param = {'max_depth':6, 'eta':0.1, 'objective':'reg:squarederror'}
# param = {'eta':0.1, 'objective':'reg:squarederror', 'subsample': 0.9, 'min_child_weight': 4, 'max_depth': 9, 'gamma': 2.5, 'colsample_bytree': 0.7}
# param = {'eta':0.1, 'objective':'reg:squarederror', 'subsample': 0.9, 'min_child_weight': 4, 'max_depth': 9, 'gamma': 2.5, 'colsample_bytree': 0.7}
param = {'objective':'reg:squarederror', 'subsample': 0.9, 'min_child_weight': 5, 'max_depth': 8, 'gamma': 2, 'eta': 0.1, 'colsample_bytree': 0.6} #1
num_round = 12
bst = xgb.train(param, dtrain, num_round)
# make prediction
preds = bst.predict(dtest)

In [140]:
y_test = list(y_test)

In [141]:
sm = 0
for i in range(10000):
    sm += (abs(preds[i] - y_test[i])**2) / ((min(2*abs(y_test[i]), abs(preds[i])) + abs(y_test[i])) ** 2)
    
score = 100 - 100/10000*sm
print(score)

91.17361779099389

In [142]:
dtest = xgb.DMatrix(df[50000:])
preds = bst.predict(dtest)

In [143]:
dtrain = xgb.DMatrix(df_f, train.income)

In [144]:
bst = xgb.train(param, dtrain, num_round)
preds = bst.predict(dtest)

In [145]:
test['income'] = preds

In [146]:
test.to_csv('stack_xg_5.csv', index=False)

# Stack result

In [191]:
xg_1 = pd.read_csv('stack_xg_1.csv')
xg_2 = pd.read_csv('stack_xg_2.csv')
xg_3 = pd.read_csv('stack_xg_3.csv')
xg_4 = pd.read_csv('stack_xg_4.csv')
xg_5 = pd.read_csv('stack_xg_5.csv')

In [192]:
concat_xg = pd.concat([xg_1, xg_2.income, xg_3.income, xg_4.income, xg_5.income], axis=1)

In [193]:
concat_xg.median(axis=1)

0        25731.5040
1        26884.3720
2        31655.5750
3        24130.0860
4        33422.6700
            ...
14995    21148.2600
14996    27143.7955
14997    26423.9040
14998    25384.0545
14999    22771.3785
Length: 15000, dtype: float64

In [194]:
stack = pd.DataFrame({'id':[i for i in range(1,15001)],'income':concat_xg.median(axis=1)})

In [195]:
stack

          id      income
0          1  25731.5040
1          2  26884.3720
2          3  31655.5750
3          4  24130.0860
4          5  33422.6700
...      ...         ...
14995  14996  21148.2600
14996  14997  27143.7955
14997  14998  26423.9040
14998  14999  25384.0545
14999  15000  22771.3785

[15000 rows x 2 columns]

In [196]:
stack.to_csv('stack_xg_2.csv', index=False)