# Tech Jam 2019

##### Jakkrit sonsanit , Wacharit sirigate
***

In [1]:
import pandas as pd
import numpy as np
import random 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

### Set Seed

In [2]:
random.seed(1238471)

### Import demographics

In [3]:
demo = pd.read_csv('data_pack/demographics.csv')
demo.head(10)

   id  cc_no  gender  ocp_cd  age
0   1      1       2     9.0    5
1   1  98397       2     9.0    5
2   2      2       2     3.0    4
3   2   9740       2     3.0    4
4   3      3       2     1.0    3
5   4      4       2     3.0    5
6   4  86813       2     3.0    5
7   5      5       2     9.0    4
8   6      6       1     3.0    3
9   6  91379       1     3.0    3

### Check null value

In [4]:
demo.isna().sum()

id         0
cc_no      0
gender     0
ocp_cd    26
age        0
dtype: int64

### Fill null value by random

In [5]:
demo = demo.fillna(value={'ocp_cd':random.choice([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0])})

### Drop cc_no colums

In [6]:
demo = demo.drop(columns=['cc_no'])

### Group by column 'id'

In [7]:
demo = demo.groupby('id').mean()

### Slicing train data (50000 row) and reset index when slicing

In [8]:
demo_train = demo.loc[1:50000]
demo_train = demo_train.reset_index(drop=True)

### Import imcome data

In [9]:
train = pd.read_csv('data_pack/train.csv')

### Create LinearRegression model and fit model

In [10]:
reg = LinearRegression().fit(demo_train, train.income)
reg.score(demo_train, train.income)

0.07222545825476423

### Slicing test data (50001-65000)

In [11]:
demo_test = demo.loc[50001:]

### Predict test data

In [12]:
reg.predict(demo_test)

array([38426.71399781, 51668.05171849, 61384.4529701 , ...,
       38426.71399781, 35638.47445201, 39163.41092107])

### Import test data for map

In [13]:
test = pd.read_csv('data_pack/test.csv')
test.head()

      id
0  50001
1  50002
2  50003
3  50004
4  50005

### Map predict income to test id

In [ ]:
test['income'] = reg.predict(demo_test)

### Save to test_v1.csv

In [332]:
# test.to_csv('test_v1.csv', index=False)