In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('data_pack/complete_data.csv')
df.head()

,gender,age,cc_week_1,cc_week_2,cc_week_3,cc_week_4,cc_week_5,cc_week_6,cc_week_7,cc_week_8,...,ocp_3,ocp_4,ocp_5,ocp_6,ocp_7,ocp_8,ocp_9,ocp_11,ocp_12,ocp_13
0,2,5,0.0,0.0,4700.0,0.0,0.0,0.0,20000.0,0.0,...,0,0,0,0,0,0,1,0,0,0
1,2,4,1600.0,0.0,0.0,3500.0,2600.0,800.0,0.0,3800.0,...,1,0,0,0,0,0,0,0,0,0
2,2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,2,4,0.0,0.0,5000.0,2000.0,0.0,5000.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0

In [3]:
test = pd.read_csv('data_pack/test.csv')
test.head()

      id
0  50001
1  50002
2  50003
3  50004
4  50005

In [4]:
train = pd.read_csv('data_pack/train.csv')
train.head()

   id  income
0   1   20000
1   2  106000
2   3   29000
3   4   61000
4   5   18000

In [5]:
df_f = df[0:50000]
len(df_f)

50000

In [6]:
X_train, X_test, y_train, y_test = train_test_split(df_f, train.income, test_size=0.2)

----------

# Tuning parameters

In [7]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import StratifiedKFold
from datetime import datetime

In [8]:
def timer(start_time=None):
    if not start_time:
        start_time = datetime.now()
        return start_time
    elif start_time:
        thour, temp_sec = divmod((datetime.now() - start_time).total_seconds(), 3600)
        tmin, tsec = divmod(temp_sec, 60)
        print('\n Time taken: %i hours %i minutes and %s seconds.' % (thour, tmin, round(tsec, 2)))

In [14]:
params = {
        'min_child_weight': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13 ,14, 15],
        'gamma': [0.5, 1, 1.5, 2, 2.5, 3, 3.5, 4, 4.5, 5],
        'subsample': [0.5, 0.6, 0.7, 0.8, 0.9, 1.0],
        'colsample_bytree': [0.5, 0.6, 0.7, 0.8, 0.9, 1.0],
        'max_depth': [3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
        'eta' : [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1]
        }

In [15]:
xgb = XGBRegressor(learning_rate=0.02, n_estimators=600, objective='reg:squarederror', silent=True, nthread=1)

In [16]:
folds = 3
param_comb = 10

skf = StratifiedKFold(n_splits=folds, shuffle = True, random_state = 1001)

# random_search = RandomizedSearchCV(xgb, param_distributions=params, n_iter=param_comb, n_jobs=-1)
random_search = RandomizedSearchCV(xgb, param_distributions=params, n_iter=param_comb, n_jobs=-1, verbose=3, random_state=1001)
# Here we go
start_time = timer(None) # timing starts from this point for "start_time" variable
random_search.fit(X_train, y_train)
timer(start_time) # timing ends here for "start_time" variable

Fitting 3 folds for each of 10 candidates, totalling 30 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 16 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  30 | elapsed:  2.0min remaining:  4.0min
[Parallel(n_jobs=-1)]: Done  21 out of  30 | elapsed:  2.7min remaining:  1.1min
[Parallel(n_jobs=-1)]: Done  30 out of  30 | elapsed:  3.3min finished

 Time taken: 0 hours 4 minutes and 57.48 seconds.

In [17]:
print('\n Best estimator:')
print(random_search.best_estimator_)

 Best estimator:
XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.7, eta=0.8, gamma=2,
             importance_type='gain', learning_rate=0.02, max_delta_step=0,
             max_depth=10, min_child_weight=6, missing=None, n_estimators=600,
             n_jobs=1, nthread=1, objective='reg:squarederror', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=True, subsample=0.8, verbosity=1)

In [18]:
# print('\n All results:')
# print(random_search.cv_results_)
print('\n Best normalized gini score for %d-fold search with %d parameter combinations:' % (folds, param_comb))
print(random_search.best_score_ * 2 - 1)
print('\n Best hyperparameters:')
print(random_search.best_params_)

 Best normalized gini score for 3-fold search with 10 parameter combinations:
-0.4218195891277805

 Best hyperparameters:
{'subsample': 0.8, 'min_child_weight': 6, 'max_depth': 10, 'gamma': 2, 'eta': 0.8, 'colsample_bytree': 0.7}

----------

In [135]:
xgb = XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.8, gamma=1,
             importance_type='gain', learning_rate=0.02, max_delta_step=0,
             max_depth=5, min_child_weight=5, missing=None, n_estimators=600,
             n_jobs=-1, nthread=1, objective='reg:squarederror', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=True, subsample=0.8, verbosity=1)

In [136]:
X = df[:50000]
y = train.income[:50000]

In [137]:
# trained = xgb.fit(X_train, y_train)
trained = xgb.fit(X, y)

C:\Users\INDY\Miniconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\Users\INDY\Miniconda3\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

In [138]:
# preds = trained.predict(X_test)
# len(preds)

In [139]:
preds = trained.predict(df[50000:])
len(preds)

15000

In [141]:
test['income'] = preds
test.to_csv('xg_v4_opt.csv', index=False)

----------

In [142]:
# # read in data
# dtrain = xgb.DMatrix(X_train, y_train)
# dtest = xgb.DMatrix(X_test)
# # specify parameters via map
# param = {'max_depth':6, 'eta':0.3, 'objective':'reg:squarederror'}
# num_round = 20
# bst = xgb.train(param, dtrain, num_round)
# # make prediction
# preds = bst.predict(dtest)

In [143]:
# len(preds)

In [144]:
# lower, upper = 0.1, 0.5
# preds = [lower + (upper - lower) * i for i in preds]

In [145]:
y_test = list(preds)

In [146]:
sm = 0
for i in range(10000):
    sm += (abs(preds[i] - y_test[i])**2) / ((min(2*abs(y_test[i]), abs(preds[i])) + abs(y_test[i])) ** 2)

In [147]:
score = 100 - 100/10000*sm

In [148]:
score

100.0

In [149]:
dtest = xgb.DMatrix(df[50000:])
preds = bst.predict(dtest)

AttributeError: 'XGBRegressor' object has no attribute 'DMatrix'

In [150]:
test['income'] = preds
test.to_csv('xg_v1.csv', index=False)