In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import xgboost as xgb
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('../data_pack/complete_data.csv')
df.head()

,gender,age,cc_week_1,cc_week_2,cc_week_3,cc_week_4,cc_week_5,cc_week_6,cc_week_7,cc_week_8,...,ocp_3,ocp_4,ocp_5,ocp_6,ocp_7,ocp_8,ocp_9,ocp_11,ocp_12,ocp_13
0,2,5,0.0,0.0,4700.0,0.0,0.0,0.0,20000.0,0.0,...,0,0,0,0,0,0,1,0,0,0
1,2,4,1600.0,0.0,0.0,3500.0,2600.0,800.0,0.0,3800.0,...,1,0,0,0,0,0,0,0,0,0
2,2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,2,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,0,0,0,0
4,2,4,0.0,0.0,5000.0,2000.0,0.0,5000.0,0.0,0.0,...,0,0,0,0,0,0,1,0,0,0

In [5]:
df.columns

Index(['gender', 'age', 'cc_week_1', 'cc_week_2', 'cc_week_3', 'cc_week_4',
       'cc_week_5', 'cc_week_6', 'cc_week_7', 'cc_week_8', 'cc_week_9',
       'cc_week_10', 'cc_week_11', 'cc_week_12', 'cc_week_13', 'cc_week_14',
       'cc_week_15', 'cc_week_16', 'cc_week_17', 'cc_week_18', 'cc_week_19',
       'cc_week_20', 'cc_week_21', 'cc_week_22', 'cc_week_23', 'cc_week_24',
       'cc_week_25', 'cc_week_26', 'kp_week_1', 'kp_week_2', 'kp_week_3',
       'kp_week_4', 'kp_week_5', 'kp_week_6', 'kp_week_7', 'kp_week_8',
       'kp_week_9', 'kp_week_10', 'kp_week_11', 'kp_week_12', 'kp_week_13',
       'kp_week_14', 'kp_week_15', 'kp_week_16', 'kp_week_17', 'kp_week_18',
       'kp_week_19', 'kp_week_20', 'kp_week_21', 'kp_week_22', 'kp_week_23',
       'kp_week_24', 'kp_week_25', 'ocp_1', 'ocp_2', 'ocp_3', 'ocp_4', 'ocp_5',
       'ocp_6', 'ocp_7', 'ocp_8', 'ocp_9', 'ocp_11', 'ocp_12', 'ocp_13'],
      dtype='object')

In [6]:
# ls_n = ['gender', 'age', 'ocp_1','ocp_2','ocp_3','ocp_4','ocp_5','ocp_6','ocp_7','ocp_8','ocp_9','ocp_11','ocp_12','ocp_13']
# ls_col = list(df.columns)
# ls_col = [i for i in ls_col if i not in ls_n]

In [7]:
# mu, sigma = 0.5, 0.1
# s = np.random.normal(mu, sigma, 1000)

# # Create the bins and histogram
# count, bins, ignored = plt.hist(s, 20, normed=True)

# # Plot the distribution curve
# plt.plot(bins, 1/(sigma * np.sqrt(2 * np.pi)) *
#     np.exp( - (bins - mu)**2 / (2 * sigma**2) ),       linewidth=3, color='y')
# plt.show()

In [10]:
test = pd.read_csv('../data_pack/test.csv')
test.head()

      id
0  50001
1  50002
2  50003
3  50004
4  50005

In [12]:
train = pd.read_csv('../data_pack/train.csv')
train.head()

   id  income
0   1   20000
1   2  106000
2   3   29000
3   4   61000
4   5   18000

In [13]:
df_f = df[0:50000]
len(df_f)

50000

In [658]:
X_train, X_test, y_train, y_test = train_test_split(df_f, train.income, test_size=0.2)

In [801]:
# read in data
dtrain = xgb.DMatrix(X_train, y_train)
dtest = xgb.DMatrix(X_test)
# specify parameters via map
# param = {'max_depth':6, 'eta':0.1, 'objective':'reg:squarederror'}
# param = {'eta':0.1, 'objective':'reg:squarederror', 'subsample': 0.9, 'min_child_weight': 4, 'max_depth': 9, 'gamma': 2.5, 'colsample_bytree': 0.7}
# param = {'eta':0.1, 'objective':'reg:squarederror', 'subsample': 0.9, 'min_child_weight': 4, 'max_depth': 9, 'gamma': 2.5, 'colsample_bytree': 0.7}
param = {'objective':'reg:squarederror', 'subsample': 0.8, 'min_child_weight': 6, 'max_depth': 9, 'gamma': 2, 'eta': 0.1, 'colsample_bytree': 0.7}
num_round = 11
bst = xgb.train(param, dtrain, num_round)
# make prediction
preds = bst.predict(dtest)

In [802]:
len(preds)

10000

In [803]:
# lower, upper = 0.1, 0.5
# preds = [lower + (upper - lower) * i for i in preds]

In [804]:
y_test = list(y_test)

In [805]:
sm = 0
for i in range(10000):
    sm += (abs(preds[i] - y_test[i])**2) / ((min(2*abs(y_test[i]), abs(preds[i])) + abs(y_test[i])) ** 2)

In [806]:
score = 100 - 100/10000*sm

In [807]:
score

90.88341286573562

In [719]:
dtest = xgb.DMatrix(df[50000:])
preds = bst.predict(dtest)

In [720]:
dtrain = xgb.DMatrix(df_f, train.income)

In [721]:
bst = xgb.train(param, dtrain, num_round)
preds = bst.predict(dtest)

In [722]:
test['income'] = preds

In [723]:
test.to_csv('xg_v5_lr0.1_90.csv', index=False)